<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../assets/images/icon.png" width="55" height="40" class="d-inline-block align-top" alt="">
        NMS Cinemas
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="allMovie">All Movies<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="searchMovie">Search Movie<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="searchMovie">Check Bookings<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>