<div class="mainDiv">
  <div class="topDiv">
    <h1 class="title">My Porfolio</h1>
  </div>
  <div class="contentAreaDiv">
    <section class="socialDiv">
     
    
      <div class="icon">
        <span><a href="#"><img src="assets\images\profile.jpg" alt="icon"></a></span>
        <p><b>Veena Badgujar</b></p>
        <br>
        <span><a href="https://github.com/"><img src="assets\images\github.jpg" alt="github icon"></a></span>
        <p><b>My github</b></p>
        
      </div>
    </section>
    <section class="mainContentDiv">
      <div class="summaryDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Summary</p>
          <hr>
         </div>
         <p align="justify">From a young age, I’ve always had a sense of motivation and passion driving me forward. Whether it’s exploring unique opportunities, learning additional skills, or meeting new people, I bring these values to every experience throughout my life on a personal and professional level.</p>
      </div>
      <div class="resumeDiv">
        <div style="display: flex; flex-direction: row;">
          <hr>
          <p style="font-size: large;">Resume</p>
          <hr>
         </div>
         
      </div>
      <div class="col-lg-6 col-md-12">       
        <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
                <div class="col-sm-4">
                    <strong class="text-uppercase">Date of Birth:</strong>
                </div>
                <div class="col-sm-8">September 16, 1999</div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-4">
                    <strong class="text-uppercase">Email:</strong>
                </div>
                <div class="col-sm-8">veenabadgujar23629@gmail.com</div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-4">
                    <strong class="text-uppercase">Mobile No:</strong>
                </div>
                <div class="col-sm-8">9119442658</div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-4">
                    <strong class="text-uppercase">Address:</strong>
                </div>
                <div class="col-sm-8">"8B" Old Yawal Road Balaji Nagar Chopda,Jalgaon 425107</div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-4">
                    <strong class="text-uppercase">Language:</strong>
                </div>
                <div class="col-sm-8">Marathi,hindi,English</div>
            </div>
         </div>
    </div>
 
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title"><b>Education</b></div>
          <div class="card">
              <div class="row">
                  <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-education-header">
                          <p>2017-2021</p>
                      <div class="h5">Bachelor Degree</div>
                      </div>    
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h4">Bachelor of Engineering</div>
                              <h4 class="category">Konkan Gyanpeeth College Of Engineering,Karjat</h4>
                              <ul>
                                  
                                      <li>Completed BE in computer science Engineering with <b>72% </b>.</li>
                              </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="row">
                  <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-education-header">
                          <p>2015-2017</p>
                      <div class="h5">Secondary education</div>
                      </div>    
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h4">HSC</div>
                          <h4 class="category">MG College Chopda</h4>
                          <ul>
                                  <li>Completed with<b>63.08%</b> aggregate.</li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="card">
              <div class="row">
                  <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body cc-education-header">
                          <p>2015</p>
                      <div class="h5">Primary education</div>
                      </div>    
                  </div>
                  <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                      <div class="card-body">
                          <div class="h5">SSC</div>
                              <h4 class="category">Vivekanand Vidyalaya Chopda,Jalgaon<</h4>
                              <ul>
                                      <li>Completed with <b>89.00% </b>aggregate.</li>
                              </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>   
      <br>
      <div class="container">
        <div class="h4 text-center mb-4 title"><b>Skills</b></div>

         <div class="card"data-aos="fade-up"data-aos-anchor-placement="top-bottom">
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="progress-container progress-primary">
                  <span class="progress-badge">Java</span>
                  <div class="progress">
                    <div class="progress-bar progress-bar-primary"data-aos="progress-full"data-aos-offset="10"
                      data-aos-duration="2000"role="progressbar"aria-valuenow="60"aria-valuemin="0"aria-valuemax="100"
                      style="width: 85%;"></div>
                    <span class="progress-value">85%</span>
                  </div>
                </div>
              </div>
            <div class="row">
              <div class="col-md-6">
                <div class="progress-container progress-primary">
                  <span class="progress-badge">Spring Framework</span>
                  <div class="progress">
                    <div class="progress-bar progress-bar-primary"data-aos="progress-full"data-aos-offset="10"
                      data-aos-duration="2000"role="progressbar"aria-valuenow="60"aria-valuemin="0"aria-valuemax="100"
                      style="width: 70%;"></div>
                    <span class="progress-value">70%</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="progress-container progress-primary">
                  <span class="progress-badge">Angular8</span>
                  <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated"data-aos="progress-full"data-aos-offset="10"
                      data-aos-duration="2000"role="progressbar"aria-valuenow="60"aria-valuemin="0"aria-valuemax="100"
                      style="width: 60%;"></div>
                    <span class="progress-value">60%</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="progress-container progress-primary">
                  <span class="progress-badge">RDBMS</span>
                  <div class="progress">
                    <div class="progress-bar progress-bar-primary"data-aos="progress-full"data-aos-offset="10"
                      data-aos-duration="2000"role="progressbar"aria-valuenow="60"aria-valuemin="0"aria-valuemax="100"
                      style="width: 75%;"></div>
                    <span class="progress-value">75%</span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="progress-container progress-primary">
                  <span class="progress-badge">HTML,CSS,JS</span>
                  <div class="progress">
                    <div class="progress-bar progress-bar-primary"data-aos="progress-full"data-aos-offset="10"
                      data-aos-duration="2000"role="progressbar"aria-valuenow="60"aria-valuemin="0"aria-valuemax="100"
                      style="width: 70%;"></div>
                    <span class="progress-value">70%</span>
                  
              </div>
            </div>
          </div>
        </div>
      </div>
  

    
  </div>
</div>