<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>

<body>
    <div class="jumbotron">
    <div class="card text-white bg-success mb-3" style="max-width: 30rem;">
        <div class="card-header">Congratulations!! your Ticket is confirmed</div>
        <div class="card-body">
            <h5 class="card-title">Your Ticket has been Booked</h5>
            <p class="card-text"><b>Order Details:</b></p>
            <p class="card-text">Movie Name: {{ movie.movieName }}</p>
            <p class="card-text">Show Timing: {{ movie.showTiming }}</p>
            <p class="card-text">No. of Tickets: {{ movie.noOfTickets }}</p>
            <p class="card-text">Bill Amount: {{ movie.billAmount }}</p><hr>
            <p class="card-text">Thank you for choosing NMS Cinemas Hope you enjoy the Movie...</p>
        </div>
    </div>
    </div>
    <footer class="bg-dark text-center text-white">
        <div class="container p-2 pb-0">
          <section class="mb-1">
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
    
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
    
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
    
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
    
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
    
            <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
          </section>
        </div>
    
    
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2022 Copyright:
          <a class="text-white" href="#">NMS Cinemas</a>
        </div>
      </footer>
</body>