<divclass="profile-page">
    <divclass="wrapper">
        <divclass="page-header page-header-small"filter-color="orange">
            <divclass="page-header-image"data-parallax="true"style="background-image: url('assets/images/introduction.jpg');">
            </div>
        <divclass="container">
            <divclass="content-center">
                <divclass="profile-image">
                    <ahref="#">
                        <imgsrc="assets/images/profile.jpg"alt="Image" />
                    </a>
                </div>
                <divclass="h2 title">Nidamanuri Rahul Kumar</div>
                <pclass="category text-white">Java Full STack Developer</p>
                <aclass="btnbtn-primary smooth-scroll mr-2"href="#contact"data-aos="zoom-in"data-aos-anchor="data-aos-anchor">Hire Me</a>
                <aclass="btn btn-primary"href="https://docs.google.com/document/d/1HSVZPYX0c_d6fkFsfNOAAnb3--LGD2Lo/edit?usp=sharing&ouid=105500183977979454287&rtpof=true&sd=true"target="_blank"data-aos="zoom-in"data-aos-anchor="data-aos-anchor">Download CV</a>
            </div>
        </div>
        <divclass="section">
            <divclass="container">
                <divclass="button-container">
                    <aclass="btnbtn-default btn-round btn-lgbtn-icon"href="https://www.facebook.com/Mr.YuvaKeratam/"target="_blank"rel="tooltip"title="Follow me on Facebook">
                        <iclass="fa fa-facebook"></i>
                    </a>
                    <aclass="btnbtn-default btn-round btn-lgbtn-icon"href="https://www.instagram.com/mr.yuvakeratam/"target="_blank"rel="tooltip"title="Follow me on Linkedin">
                        <iclass="fa fa-linkedin"></i>
                    </a>
                    <aclass="btnbtn-default btn-round btn-lgbtn-icon"href="https://github.com/NidamanuriRahulKumar/"target="_blank"rel="tooltip"title="Follow me on Github">
                        <iclass="fa fa-github"></i>
                    </a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>

