<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body>
  <div class="jumbotron">
    <div class="card">
      <div class="card-header">
        Payment's Page
      </div>
      <div class="card-body">
        <h6 class="card-title">Product Details</h6>
        <p class="card-text">Id : {{ product.id }}</p>
        <p class="card-text">Name : {{ product.name }}</p>
        <p class="card-text">Amount to be Paid : {{ product.price }}</p>
        <hr>
        <h6 class="card-title">Payment Details</h6>
        <input class="card-text" type="number" name="cardNumber" placeholder="Enter Your Card Number"><br><br>
        <input class="card-text" type="number" name="cvvNumber" placeholder="Enter CVV code"><br><br>
        <a routerLink="orderDetailsPage" class="btn btn-primary">Pay</a>
      </div>
    </div>
  </div>
  <footer class="bg-dark text-center text-white">
    <div class="container p-2 pb-0">
      <section class="mb-1">
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
      </section>
    </div>


    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="#">Kitchen Story</a>
    </div>
  </footer>
</body>