divclass="section"id="skill">
    <divclass="container">
      <divclass="h4 text-center mb-4 title">Skills</div>
      <divclass="card"data-aos="fade-up"data-aos-anchor-placement="top-bottom">
        <divclass="card-body">
          <divclass="row">
            <divclass="col-md-6">
              <divclass="progress-container progress-primary">
                <spanclass="progress-badge">Java</span>
                <divclass="progress">
                  <divclass="progress-bar progress-bar-primary"data-aos="progress-full"data-aos-offset="10"
                    data-aos-duration="2000"role="progressbar"aria-valuenow="60"aria-valuemin="0"aria-valuemax="100"
                    style="width: 85%;"></div>
                  <spanclass="progress-value">85%</span>
                </div>
              </div>
            </div>
          <divclass="row">
            <divclass="col-md-6">
              <divclass="progress-container progress-primary">
                <spanclass="progress-badge">Spring Framework</span>
                <divclass="progress">
                  <divclass="progress-bar progress-bar-primary"data-aos="progress-full"data-aos-offset="10"
                    data-aos-duration="2000"role="progressbar"aria-valuenow="60"aria-valuemin="0"aria-valuemax="100"
                    style="width: 70%;"></div>
                  <spanclass="progress-value">70%</span>
                </div>
              </div>
            </div>
            <divclass="col-md-6">
              <divclass="progress-container progress-primary">
                <spanclass="progress-badge">Angular8</span>
                <divclass="progress">
                  <divclass="progress-bar progress-bar-striped progress-bar-animated"data-aos="progress-full"data-aos-offset="10"
                    data-aos-duration="2000"role="progressbar"aria-valuenow="60"aria-valuemin="0"aria-valuemax="100"
                    style="width: 60%;"></div>
                  <spanclass="progress-value">60%</span>
                </div>
              </div>
            </div>
          </div>
          <divclass="row">
            <divclass="col-md-6">
              <divclass="progress-container progress-primary">
                <spanclass="progress-badge">RDBMS</span>
                <divclass="progress">
                  <divclass="progress-bar progress-bar-primary"data-aos="progress-full"data-aos-offset="10"
                    data-aos-duration="2000"role="progressbar"aria-valuenow="60"aria-valuemin="0"aria-valuemax="100"
                    style="width: 75%;"></div>
                  <spanclass="progress-value">75%</span>
                </div>
              </div>
            </div>
            <divclass="col-md-6">
              <divclass="progress-container progress-primary">
                <spanclass="progress-badge">HTML,CSS,JS</span>
                <divclass="progress">
                  <divclass="progress-bar progress-bar-primary"data-aos="progress-full"data-aos-offset="10"
                    data-aos-duration="2000"role="progressbar"aria-valuenow="60"aria-valuemin="0"aria-valuemax="100"
                    style="width: 70%;"></div>
                  <spanclass="progress-value">70%</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

